<%= form_with(model: @article, local: true) do |form| %>
	<div id="form-style">
	<div>
		<%= form.label :title %>
		<%= form.text_field :title %> 
	</div>
	<div>
		<%= form.label :status %>
		<%= form.text_field :status %> 
	</div>

	<div>
		<%= form.label :content %>
		<%= form.rich_text_area :content %> 
	</div>
	
	<div>
		<%= form.submit %>
	</div>
	</div>
<% end %>