@import "~bootstrap/scss/bootstrap";

body{
    background: black;
    color: #c83d3d;
}

trix-toolbar .trix-button.trix-active {
    background: #86c681;
    color: black;
}
trix-toolbar .trix-button {
    background: white;
}

.card {
    background-color: #302e40db;
    margin: 1em;
}
p{
    text-align:center
}
a {
    text-align: right;
}
input{
    margin: 1em;
}
